"*":
  "activate-power-mode":
    autoToggle: false
    screenShake: {}
  "atom-beautify":
    general:
      _analyticsUserId: "15bb292e-fc84-4309-8618-8b7b8615acea"
  "autocomplete-ruby":
    rsensePath: "/Users/danbarbarito/.rbenv/shims/rsense"
  "color-picker":
    preferredFormat: "HEX"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "linter"
    ]
    packagesWithKeymapsDisabled: [
      "color-picker"
    ]
    projectHome: "/Users/danbarbarito/Projects"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 9
  "exception-reporting":
    userId: "e881ab7f-ec07-3f1b-6db3-01b233fc4a09"
  "git-plus":
    general:
      _analyticsUserId: "d8124ecd-360b-4dc6-8eeb-cb6187edc358"
  "go-plus":
    disabledBundledPackages: [
      "linter"
      "go-debug"
    ]
    panelDisplayMode: "closed"
    test:
      focusPanelIfTestsFail: false
  linter:
    errorPanelHeight: 284
    showErrorPanel: false
  "markdown-writer":
    fileExtension: ".md"
  nuclide:
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-flow":
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
    "nuclide-react-native":
      pathToNode: "/usr/local/n/versions/node/4.4.5/bin/node"
  "terminal-plus":
    core:
      shellArguments: "--login"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
